#map {
  height: 90%;
  width: 100%;
  border-top: 20px solid blue;
  box-sizing: border-box;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#logo {
  margin: auto;
  padding: 0;
  height: 10%;
  text-align: center;
}

#logo h1 {
  font-size: 50;
  margin: auto;
}

.blue-text {
  display: inline;
  color: blue;
}

.red-text {
  display: inline;
  color: red;
}
